---
export interface Props {
	episode: any;
	n: number;
}

const { entry, n } = Astro.props;
const { frontmatter } = entry;

let blue = false;
switch (n) {
	case 0:
	case 3:
	case 4:
	case 7:
	case 8:
		blue = true;
}
---

{
	blue && (
		<div class="w-full lg:w-1/2 px-3 mb-6">
			<div class="py-12 px-8 md:p-20 text-center bg-gray-600 rounded">
				<span class="inline-block py-2 px-3 text-xs font-semibold text-white bg-gray-800 rounded-full uppercase">{frontmatter.tag}</span>
				<h3 class="mt-5 mb-2 text-2xl font-bold font-heading text-white">{frontmatter.question}</h3>
				<p class="mb-8 leading-loose text-blueGray-50">{frontmatter.answer}</p>
			</div>
		</div>
	)
}

{
	!blue && (
		<div class="w-full lg:w-1/2 px-3 mb-6">
			<div class="py-12 px-8 md:p-20 text-center bg-gray-50 rounded">
				<span class="inline-block py-2 px-3 text-xs font-semibold text-black bg-gray-200 rounded-full uppercase">{frontmatter.tag}</span>
				<h3 class="mt-5 mb-2 text-2xl font-bold font-heading">{frontmatter.question}</h3>
				<p class="mb-8 leading-loose text-blueGray-500">{frontmatter.answer}</p>
			</div>
		</div>
	)
}
