---
export interface Props {
	entry: {
		frontmatter: Record<string, any>;
	};
	n: number;
}

const { entry, n } = Astro.props;
const { frontmatter } = entry;

let blue = false;
switch (n) {
	case 0:
	case 3:
	case 4:
	case 7:
	case 8:
		blue = true;
}

const bgClass = blue ? 'bg-gray-600' : 'bg-gray-50';
const tagClass = blue ? 'text-white bg-gray-800' : 'text-black bg-gray-200';
const titleClass = blue ? 'text-white' : '';
const textClass = blue ? 'text-blueGray-50' : 'text-blueGray-500';
---

<div class="w-full lg:w-1/2 px-3 mb-6">
	<div class={`py-12 px-8 md:p-20 text-center ${bgClass} rounded`}>
		<span class={`inline-block py-2 px-3 text-xs font-semibold ${tagClass} rounded-full uppercase`}>{frontmatter.tag}</span>
		<h3 class={`mt-5 mb-2 text-2xl font-bold font-heading ${titleClass}`}>{frontmatter.question}</h3>
		<p class={`mb-8 leading-loose ${textClass}`}>{frontmatter.answer}</p>
	</div>
</div>
