---
export interface Props {
	episode: any;
	n: number;
}

import { formatDateWithoutWeekday } from '../scripts/date.js';

const { entry, n } = Astro.props;
const { frontmatter } = entry;
---

{
	n % 2 == 0 && (
		<div class="flex flex-wrap -mx-4 mb-20">
			<div class="w-full lg:w-1/2 px-4 lg:pr-20 lg:pt-4 order-1 lg:order-0">
				<span class="inline-block py-1 px-3 uppercase text-xs font-semibold bg-blue-50 rounded-full text-blue-600">
					<time class="date" datetime={frontmatter.pubDate}>
						{formatDateWithoutWeekday(frontmatter.pubDate)}
					</time>
				</span>
				<h3 class="my-4 text-xl md:text-2xl font-bold font-heading">
					<a href={entry.url} title={frontmatter.title}>
						{frontmatter.title}
					</a>
				</h3>
				<p class="mb-4 text-sm md:text-base leading-loose text-blueGray-500">{frontmatter.description}</p>
				<a class="text-xs font-semibold text-blue-600" href={entry.url} title={frontmatter.title}>
					<span>Read More</span>
					<svg class="inline-block w-4 h-4 ml-1" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
					</svg>
				</a>
			</div>
			<div class="w-full lg:w-1/2 px-4 mb-8 order-0 lg:order-1">
				<a href={entry.url} title={frontmatter.title}>
					<img class="w-full h-80 object-cover rounded" src={frontmatter.coverImage} alt={frontmatter.title} title={frontmatter.title} />
				</a>
			</div>
		</div>
	)
}

{
	n % 2 > 0 && (
		<div class="flex flex-wrap -mx-4 mb-20">
			<div class="w-full lg:w-1/2 px-4 lg:pl-20 lg:pt-4 order-1">
				<span class="inline-block py-1 px-3 uppercase text-xs font-semibold bg-blue-50 rounded-full text-blue-600">
					<time class="date" datetime={frontmatter.pubDate}>
						{formatDateWithoutWeekday(frontmatter.pubDate)}
					</time>
				</span>
				<h3 class="my-4 text-xl md:text-2xl font-bold font-heading">
					<a href={entry.url} title={frontmatter.title}>
						{frontmatter.title}
					</a>
				</h3>
				<p class="mb-4 text-sm md:text-base leading-loose text-blueGray-500">{frontmatter.description}</p>
				<a class="text-xs font-semibold text-blue-600" href={entry.url} title={frontmatter.title}>
					<span>Read More</span>
					<svg class="inline-block w-4 h-4 ml-1" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
					</svg>
				</a>
			</div>
			<div class="w-full lg:w-1/2 px-4 mb-8 order-0">
				<a href={entry.url} title={frontmatter.title}>
					<img class="w-full h-80 object-cover rounded" src={frontmatter.coverImage} alt={frontmatter.title} title={frontmatter.title} />
				</a>
			</div>
		</div>
	)
}
