---
import HeaderTags from '../components/HeaderTags.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import { formatDate } from '../scripts/date.js';
import { cutText } from '../scripts/strings.js';

import '../styles/newspost.scss';

const { content } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const title = ''.concat(content.title, ' - sourcectl');
const description = cutText(content.description, 200);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<HeaderTags title={title} description={description} image={content.coverImage} {canonicalURL} ogType="article" />
	</head>
	<body class="antialiased bg-body text-body font-body">
		<div class="">
			<Navigation />

			<section class="py-20">
				<div class="container px-4 mx-auto">
					<div class="max-w-2xl mx-auto mb-12">
						<div class="text-center mb-6">
							<span class="text-base md:text-lg">
								<span class="text-blueGray-500">
									<time class="date" datetime={content.pubDate}>{formatDate(content.pubDate)}</time>
								</span>
							</span>
							<h1 class="text-4xl md:text-5xl my-2 font-bold font-heading text-blueGray-600">{content.title}</h1>
						</div>
					</div>
					<div class="mb-8">
						<img class="h-80 mx-auto mb-6 object-cover rounded" src={content.coverImage} alt={content.title} title={content.title} />
					</div>
					<div id="changelog_content" class="max-w-2xl mx-auto">
						<slot />
					</div>
				</div>
			</section>

			<Footer />
		</div>
	</body>
</html>
